*{
    margin: 0px;
    padding: 0px;
}
#logo{
    width: 150px;
    height: 55px;
    position: relative;
}
.home{
    border: 1px solid white;
    background-color: rgba(194, 50, 50, 0);
    border-radius: 18px;
    padding: 7px;
    font-size: 15px;
}
.home:hover{
    background-color: rgb(229, 226, 226);
    color: rgb(0, 0, 0);
    transition: 0.2s;
}
#internet{
    width: 30px;
    height: 30px;
}
.icons{
    width: 30px;
    height: 30px;

}
.user-icon:hover{
    box-shadow: 2px 1px 2px rgb(140, 140, 140);
}
.user-icon{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 18px;
    position: relative;
    /* bottom: 1em; */
}
#icons{
    border: 1px solid rgb(166, 166, 166);
    padding: 7px;
    border-radius: 18px;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
}
.airbnb-sec-first-main{
    display: flex  ;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
}
.airbnb-first-secondtxt{
    display: flex;
    justify-content: space-around;
    margin: 10px;

}
#internet,.user-icon,.airbnb-first-text{
    margin: 10px;
}
.airbnb-second-sec-button{
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgb(161, 161, 161);
    border-radius: 30px;
    width: 31%;
    position: relative;
    left: 28em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.airbnb-bnt{
    width: 15em;
    border-radius: 18px;
    background-color: white;
    border: 1px solid white;
    font-size: 10px;
    text-align: left;
    padding: 10px;
}
.three{
    position: relative;
    width: 15em;
    height: 5em;
}
#rose-icon{
    position: relative;
    bottom: 25px;
    left: 10em;
    border-radius: 18px;
    padding: 2px;
}
.second-sec-bnt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.airbnb-bnt:hover{
    background-color: rgb(174, 172, 172);
}
.divider{
    margin-top: 5em;
    border-bottom: 1px solid grey;
}
.airbnb-fullimages{
    width: 30px;
    height: 30px;
    margin: 20px;
}
.air-bnb-smallimages{
    display: flex;
    padding: 20px;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

#one{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.main-img-sec{
    width: 100%;
    height: 80%;
}
.bnb-main-images-sec{
    margin-top: 5em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    column-gap: 1em;
    grid-template-rows: repeat(3 ,1fr);
    row-gap: 1em;
}

.bnb-main-images-sec-last-sec{
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 1em;
    grid-template-rows: repeat(2 ,1fr);
    justify-content: center;
    align-items: center;


}
.airbnb-sec-txt{
    font-size: 35px;
    text-align: center;
 
}
.head{
    margin-left: 2em;
    font-size: 25px;
}
footer{
    background-color: rgb(242, 242, 242);
}
.footer-sec-head{
    display: flex;
    /* margin-left: 2em; */
}
.last-footer{
    margin: 10px;
}
.dividers{
    border-bottom: 1px solid grey;
}
.list{
    margin-top: 5em;
}
.footer2-grid-txt{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 1em;
}
.footer3-grid-txt{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 1em;

}
@media only screen and (max-width: 1437px){
    /* #one{
        width:200px;
        height: 200px;
        border-radius: 18px;
     
    } */
    .airbnb-second-sec-button{
       /* display: none; */
    }
    
   .bnb-main-images-sec{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4,1fr) ;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
   }

   .bnb-main-images-sec-last-sec{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(2,1fr) ;
    justify-content: center;

   }
   .air-bnb-smallimages{
    display: grid;
    grid-template-columns: repeat(30,1fr);
   
   }
}
@media only screen and (min-width: 1800px) and (max-width:3000px){
    /* #one{
        width:200px;
        height: 200px;
        border-radius: 18px;
     
    } */


    
   .bnb-main-images-sec{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:repeat(3,1fr) ;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
   }

   .bnb-main-images-sec-last-sec{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:repeat(2,1fr) ;
    justify-content: center;

   }
   .air-bnb-smallimages{
    display: grid;
    grid-template-columns: repeat(30,1fr);
   
   }
}
.main-img-sec{
    text-align: center;
}


@media only screen and (max-width: 786px){
    /* #one{
        width:200px;
        height: 200px;
        border-radius: 18px;
     
    } */
    .airbnb-second-sec-button{
       display: none;
    }
    
   .bnb-main-images-sec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(5,1fr) ;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    row-gap: 2em;
   }

   .bnb-main-images-sec-last-sec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr) ;
    justify-content: center;
    row-gap: 2em;

   }
   .air-bnb-smallimages{
    display: grid;
    grid-template-columns: repeat(25,1fr);
   
   }
   .footer-sec-head{
    display: none;
   }
   footer{
    margin-top: 2em;

   }
}
@media only screen and (max-width: 420px){
    /* #one{
        width:200px;
        height: 200px;
        border-radius: 18px;
     
    } */
    .airbnb-second-sec-button{
       display: none;
    }
    
   .bnb-main-images-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(5,1fr) ;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    row-gap: 2em;
   }

   .bnb-main-images-sec-last-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,1fr) ;
    justify-content: center;
    row-gap: 2em;

   }
   .air-bnb-smallimages{
    display: grid;
    grid-template-columns: repeat(25,1fr);
   
   }
   .footer,.footer-sec-head,.dividers,.footer2-grid-txt,.second-sec-bnt,.airbnb-second-sec-button,.airbnb-first-txt,.airbnb-first-secondtxt{
    display: none;
}
.airbnb-first,.logo{
    text-align: center;
    margin: auto;
}
}

@media only screen and (max-width: 380px){
    /* #one{
        width:200px;
        height: 200px;
        border-radius: 18px;
    } */
    .bnb-main-images-sec{
     display: grid;
     grid-template-columns: repeat(1,1fr);
     grid-template-rows:repeat(7) ;
     justify-content: center;
     align-items: center;
     margin: auto;
        
    }
  
    .bnb-main-images-sec-last-sec{
     display: grid;
     grid-template-columns: repeat(1,1fr);
     grid-template-rows:repeat(5,1fr) ;
     justify-content: center;
     text-align: center;
 
    }
    .air-bnb-smallimages{
     display: grid;
     grid-template-columns: repeat(30,1fr);
     text-align: center;
     justify-content: center;
     align-items: center;
    
    }
    .footer,.footer-sec-head,.dividers,.footer2-grid-txt,.second-sec-bnt,.airbnb-second-sec-button,.airbnb-first-txt,.airbnb-first-secondtxt{
        display: none;
    }
    .airbnb-first,.logo{
        text-align: center;
        margin: auto;
    }
 }
 

